nav {
  background-color: #7e5109;
  font-size: 20px;
  /*padding: 10px;*/
  height: 35px;
  color: white;

}

a {
	text-decoration: none;
}
nav a{
  color: white;

}
.selected{
	padding-bottom: 13px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #D4AC0D;
}

.btn {
  background-color: rgb(82, 156, 82);
  color: white;
  border-radius: 4px;
  width: 100px;
}

.div2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-left: 33%;
}

.Copyright{
	font-size: 15px;
	
}

.tableTitle{
  background-color: #d4b40a;
}
td{
  border: 0.1em solid black;
  border-color: #d4b40a;
  padding: 0.25em;
}
form{
  background-color: #e2fafa;
  width: 57%;
  padding: 0.5em;
}
table{
  width: 110%;
  display: table-cell;
}
.mytable{
  background-color: #e2fafa;
  width: 33.5%;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}