html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, h4, h5, ul, li, body, div, p, img
{
margin: 0;
padding: 0;
font-size: 100%;
vertical-align: baseline;
border: 0;
font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #edeede;
}

header{
  background-color: #f8a700;
}
nav{
  background-color: #f68501;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}
article{
  background-color: #ffffff;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
}
h3{
  color: white;
  padding-left: 2em;
  padding-bottom: 2em;
  font-size: 100%;
  font-weight: lighter;
}
.leaveamessage{
  color: #96b8c7;
  letter-spacing: 0.1em;
  padding-bottom: 2em;
  font-size: 100%;
  font-weight: lighter;
  font-size: 150%;
}
.logo{
  padding-top: 2em;
  padding-left: 2em;
}
span, .parttwo{
  letter-spacing: 0.1em;
  font-size: 200%;
  font-weight: 400;
}
span{
  color: white;
}
.parttwo{
  color: #dd7a00;
}
nav ul li{
  display: inline-block;
  list-style: none;
  padding: 1.5em;
}
nav a{
  color: #ffffff;
  text-decoration: none;
}
nav ul li:hover {
  background-color: #f45802;
}
.description{
  padding: 3em;
  width: 55em;
}
form{
    padding: 2em;
}
input{
  margin-left: 23em;
  margin-bottom: 1em;
}
textarea{
  margin-left: 26em;
  margin-bottom: 1em;
}
.btn{
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-size: 17px;
  text-decoration: none;
  font-weight: 100;
  color: white;
  background-color: #f05b01;
  margin-left: 41.3em;
}
.messages{
  padding: 2em;
  border-collapse: collapse;
  width: 55%;
  margin-left: 2em;
}
.messages tr{
    border: 2px solid white;
    background-color: #f1efe1;
}
.messages .table-title{
    background-color: #3b3b3b;
    color: white;
}
.messages td{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
a .certificates{
  text-decoration: none;
}
